root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 2
trim_trailing_whitespace = true
ij_continuation_indent_size = 2
ij_formatter_on_tag = @formatter:on
ij_formatter_off_tag = @formatter:off
ij_formatter_tags_enabled = true

[*.ts]
ij_javascript_force_semicolon_style = true
ij_typescript_force_semicolon_style = true
ij_javascript_space_before_function_left_parenth = false
ij_typescript_space_before_function_left_parenth = false
ij_javascript_use_double_quotes = false
ij_typescript_use_double_quotes = false
ij_javascript_force_quote_style = true
ij_typescript_force_quote_style = true
ij_javascript_align_multiline_parameters = true
ij_typescript_align_multiline_parameters = true
ij_javascript_spaces_within_object_literal_braces = true
ij_typescript_spaces_within_object_literal_braces = true
